@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    overflow-x: hidden;
}

.nav-link {
    color: white;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.nav-link:active {
    transform: scale(0.95);
}

html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in-visible {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floatLeft {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-20px) translateX(-20px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes floatRight {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-20px) translateX(20px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

.heart {
    width: 50px;
    height: 45px;
    position: absolute;
    animation: float 2s infinite;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: red;
}

.heart::before {
    left: 25px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: -25px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart1 {
    left: -60px;
    animation: floatLeft 2s infinite;
}

.heart2 {
    animation: float 2s infinite;
}

.heart3 {
    left: 60px;
    animation: floatRight 2s infinite;
}
